.grid-container {
	display: flex;
	grid-template-columns: 120px 1fr 2fr 1fr;
	align-items: center;
	background-color: #2196F3;
	padding: 10px;
	row-gap: 50px;
	justify-content: center;
  }
  .grid-container2 {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	
  }
.logo{
	grid-template-columns: 1fr;
	justify-content: flex-start;
	height:50px;
	align-items: center;
}
.two {
	background-color: #ace;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.container2 {
 	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #ace;
}
.container3 {
	display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #ace;
   border: 1px black;
}
.container4 {
	display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #ace;
   border: 1px black;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 5px;
	align-items: center;
}

.family{
	height: 100px;
	flex-wrap: wrap;
}
.hero{
	height: 125px;
}
.rafting{
	height: 100px;
}
.wwrtext{
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #ace;
	grid-template-columns: auto auto auto;

}
.historytext{
	display: grid;
	background-color: #ace;
	font-size: small;
	grid-template-columns: 4fr 1fr 4fr;
}

.footer{
	display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #ace;
   border: 1px black;
}
.footerfont{
	font-size: small;
}
.size{
	height: 25px;
}