.callout {
    display: flex;
    align-items: center;
	max-width: 1700px;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 2rem;
    background-color: #7CA5B8;
    
}

.callout2 {
    display: flex;
    align-items: center;
	max-width: 1700px;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 2rem;
    background-color: #7CA5B8;
    
}
.logo {
    width: 125px;
    height: 125px;
    position: relative;
    left: 450px;
}
.nav {
    position: absolute;
    right: 350px;
    padding: 20px;
    color: black;
    background-color: white;
    font: georgia;
    font-weight: 30;
    font-size: xx-large;
}
.rafting {
    width: 740px;
    height: 200px;
    position:absolute;
    left: 50px;
    
}
.stats {
	position:absolute;
	top: 201px;
    right: 180px;
    font-style: georgia;
    background-color: #020887;
    color: White;
    border: 1px;
    font-size: small;
    box-shadow: 0 0 05px #b7b0b0
}
.stats2 {
    position:absolute;
	top: 333px;
    right: 30px;
    font-style: georgia;
    background-color: #A9DBB8;
    color: black;
    border: 1px;
    font-size: x-small;
    box-shadow: 0 0 05px #b7b0b0
}

.footerlogo {
    position: bottom;
    height: 50px;
    width: auto;
}

.footer {
    position: absolute;
    bottom: 7px;
    left: 9px;
    font-size: medium;

}

.social{
    position: absolute;
    bottom: 20px;
    right: 25px;
    font-size: small;
}
.wwr{
    position: absolute;
    right: 350px;

}