:root {
    --primary-color: #7CA5B8; 
    --secondary-color: #020887; 
    --accent-color: #A9DBB8; 
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.logo {
    display: grid;
    justify-content: center;
    height: 50px;
}

.heroheading {
    background-color: #ace;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}
.hero {
	position: relative;
	display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #ace;
}
.container3 {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ace;
  border: 1px black;
  font-family: 'Roboto Slab', serif;
}
.container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ace;
    border: 1px solid black;
    font-family: 'Roboto Slab', serif;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    display: grid;
}

.family {
    height: 100px;
}

.heroimg {
    height: 125px;
	float: right;
}

.rafting {
    height: 100px;
	text-decoration: none;
}

.wwrtext {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ace;
    font-family: 'Lora', serif;
}

.historytext {
    display: grid;
    background-color: #ace;
    font-size: small;
    grid-template-columns: 4fr 1fr 4fr;
    font-family: 'Lora', serif;
}

.footer {
    font-size: small;
    text-align: right;
    font-family: 'Lora', serif;
}

.size {
    height: 25px;
}

.nav {
    text-decoration: none;
    display: flex;
    grid-template-columns: repeat(4, 1fr); /* Simplified using repeat */
    gap: 10px; 
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
}

.fig {
    font-family: 'Lora', serif;
    font-size: x-small;
}
