:root {
    --padding: 20px;
    --color: steelblue;
}

nav {
    background-color: var(--color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--padding);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid #000;
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
